# Database Configuration 
# ※ These values must match the settings in the root directory .env file
DB_NAME=pinu
DB_USER=pinu_user
DB_PASSWORD=pinu_pass
DB_HOST=localhost
DB_PORT=5432
PEPPER=supersecretpepper
# 32-character minimum for HS256
JWT_SECRET=01234567890123456789012345678901
